/*=========================================
RESPONSIVE
=========================================*/

@media(max-width:1100px){

.hero{

    flex-direction:column-reverse;

    text-align:center;

}

.hero-left p{

    margin:auto;

}

.buttons{

    justify-content:center;

}

.stats{

    grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:768px){

nav{

    padding:15px 20px;

}

nav ul{

    gap:18px;

}

nav ul li a{

    font-size:14px;

}

.hero-left h1{

    font-size:52px;

}

.hero-left h2{

    font-size:26px;

}

.photo-ring{

    width:330px;

    height:330px;

}

.photo{

    width:240px;

    height:240px;

}

.stats{

    grid-template-columns:1fr;

}

.about h2{

    font-size:38px;

}

.glass{

    padding:35px;

}

}
@media(max-width:900px){

.pharmacy-grid{

grid-template-columns:1fr;

}

}

<section class="timeline">

<h2 data-aos="fade-up">

My Journey

</h2>

<div class="timeline-container">

<div class="timeline-item">

<div class="circle"></div>

<div class="content">

<h3>2023</h3>

<p>เริ่มค้นหาความสนใจด้านเภสัชศาสตร์</p>

</div>

</div>

<div class="timeline-item">

<div class="circle"></div>

<div class="content">

<h3>2024</h3>

<p>เข้าร่วมกิจกรรมทางวิทยาศาสตร์และการแข่งขัน</p>

</div>

</div>

<div class="timeline-item">

<div class="circle"></div>

<div class="content">

<h3>2025</h3>

<p>เตรียม Portfolio เพื่อสมัครคณะเภสัชศาสตร์</p>

</div>

</div>

</div>

</section>
